{% extends 'base.html.twig' %}
{% block menu %}
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1><a href="/"></a></h1>
        </div>
      </div>
    </div>
  </div>
<section id="stuck_container">
<!--==============================
            Stuck menu
=================================-->
  <div class="container">
    <div class="row">
      <div class="grid_12 ">
        <h1 class="logo">
          <a href="index.html">
            Ptit'Cookie
          </a>
        </h1>
        <div class="navigation ">
        <nav>
          <ul class="sf-menu">
           <li><a href="/">Accueil</a></li>
            <li><a href="/blog/blog">FAQ</a></li>
           <li class="current"><a href="/blog/blog">Blog</a></li>
            <li><a href="">Contact</a></li>
           <li><a href="admin">Administration</a></li>
         </ul>
        </nav>
          <div class="clear"></div>
        </div>
       <div class="clear"></div>
      </div>
   </div>
  </div>
</section>
</header>
{% endblock %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Derniers posts</h3>
      </div>
      <div class="grid_3">
        <div class="block-1">
          <div class="fa fa-image"></div>
          <div class="block-1_title">Aliquam nibh ante</div>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit
          <br>
          <a href="#" class="btn">Plus</a>
        </div>
      </div>
      <div class="grid_3">
        <div class="block-1">
          <div class="fa fa-trophy"></div>
          <div class="block-1_title">Kiam nibh anteli</div>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit
          <br>
          <a href="#" class="btn">Plus</a>
        </div>
      </div>
      <div class="grid_3">
        <div class="block-1">
          <div class="fa fa-star"></div>
          <div class="block-1_title">Nomilonibh anter</div>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit
          <br>
          <a href="#" class="btn">Plus</a>
        </div>
      </div>
      <div class="grid_3">
        <div class="block-1">
          <div class="fa fa-camera"></div>
          <div class="block-1_title">Moliuam nibh anteg</div>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit
          <br>
          <a href="#" class="btn">Plus</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
