{% extends 'base.html.twig' %}
{% block menu %}
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1><a href="/"></a></h1>
        </div>
      </div>
    </div>
  </div>
<section id="stuck_container">
<!--==============================
            Stuck menu
=================================-->
  <div class="container">
    <div class="row">
      <div class="grid_12 ">
        <h1 class="logo">
          <a href="index.html">
          
          </a>
        </h1>
        <div class="navigation ">
        <nav>
          <ul class="sf-menu">
           <li><a href="/">Accueil</a></li>
            <li><a href="/blog/blog">FAQ</a></li>
           <li class="current"><a href="/blog/blog">Blog</a></li>
            <li><a href="">Contact</a></li>
           <li><a href="admin">Administration</a></li>
         </ul>
        </nav>
          <div class="clear"></div>
        </div>
       <div class="clear"></div>
      </div>
   </div>
  </div>
</section>
</header>
{% endblock %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Les  5  Derniers posts</h3>
      </div>
      {% for article in articles %}
      <div class="grid_3">
        <div class="block-1">
          <div style="text-align:center"><a href="{{ path('afficheArticle', {'id': article.id}) }}"><img src="{{ article.image }}" style="width:200px;height:200px;border-radius:160px"></a></div>
          <div style="text-align:center;font-weight:bold">{{ article.titre }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
