{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Recherche  </h1>
            <ol class="breadcrumb">
                <li><a href="{{url('homepage')}}">Accueil</a>
                </li>
                <li class="active">Recherche</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    {% for article in resultatRecherche %}
    <div class="grid_2">
      <div class="block-1">
        <div style="text-align:center"><a href="{{ path('afficheArticle', {'id': article.id}) }}"><img src="{{ article.image }}" style="width:200px;height:200px;border-radius:160px"></a></div>
        <div style="text-align:center;font-weight:bold">{{ article.titre }}
      </div>
    </div>
  </div>
    {% else %}

    <p>Désolé aucun résultat pour votre recherche.</p>

    {% endfor %}


  <!-- /.row -->
  <hr>
    </div>
  </div>
</section>
{% endblock %}
