{% extends 'base.html.twig' %}
{% block menu %}
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1><a href="/"></a></h1>
        </div>
      </div>
    </div>
  </div>
<section id="stuck_container">
<!--==============================
            Stuck menu
=================================-->
  <div class="container">
    <div class="row">
      <div class="grid_12 ">
        <h1 class="logo">
          <a href="index.html">
            Ptit'Cookie
          </a>
        </h1>
        <div class="navigation ">
          <nav>
            <ul class="sf-menu">
             <li><a href="/">Accueil</a></li>
              <li><a href="/blog">FAQ</a></li>
             <li class="current"><a href="/blog">Blog</a></li>
              <li><a href="/blog">Contact</a></li>
             <li><a href="admin">Administration</a></li>
           </ul>
          </nav>
          <div class="clear"></div>
        </div>
       <div class="clear"></div>
      </div>
   </div>
  </div>
</section>
</header>
{% endblock %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <h2>chausson aux pommes banane chocolat</h2>
        <div class="blog">
          <img src="{{ asset('images/page4_img1.jpg')}}" alt="" class="img_inner">
          <div class="text1 color1"><a href="#">Réalisation chausson aux pommes banane chocolat</a></div>
          <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit.</p>
          Proin pharetra luctus diam, a scelerisque eros convallis accumsan. Maecenas vehicula egestas venenatis. Duis massa eliterto dertolo auctor non pellentesque vel, aliquet sit amet erat. In mollis erat mattis neque facilisis, sit amet ultricies erat rutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut veliter.

          <br>
          <br>

            <p><span class="fa fa-calendar"></span> Posté le :</p>
            <p><div class="fa fa-comments"></div> 0 Commentaire(s)</p>
          <br>
          <table>
          <tbody>
            <tr>
                <td><a href="#"><div class="fa fa-user"></div> Admin</a></td>
                <td><a href=""><img src="{{asset('images/cookie.png')}}"></a>0</td>
                <td><div class="fa fa-bookmark"></div> Catégorie: Cuisine  </td>
              </tr>
          </tbody>
        </table>

        </div>
      </div>
      <div class="grid_4">
        <h2><div class="fa fa-comments"></div> Commentaires</h2>
        <!-- # Comment form -->
  <form action="" method="post" id="comment-form">
    <fieldset>
    <p class="field">
      <input name="f_mail" type="text" size="35" maxlength="255" placeholder="Votre email" />
    </p>
      <p class="field">
      <textarea name="c_content" id="c_content" cols="35" rows="7" placeholder="Votre commentaire"></textarea>
      </p>
      <p class="form-help"></p>

    </fieldset>

    <fieldset>
      <p class="buttons"><input type="submit" class="submit"  /></p>
    </fieldset>
  </form>
      </div>
      <div class="grid_4">
          <h2><div class="fa fa-tag"></div> TAGS</h2>
          --------------------------------
         <p>No tags</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
