{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Articles
          </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('blog')}}">Accueil</a>
              </li>
              <li>Articles</li>
              <li class="active">Nouvel article</li>
          </ol>
      </div>
  </div>

      <div ng-app="sample">
      <div class="panel-heading">
        <div class="panel-title">Ajout d'un article <br><span style="font-size:12px"class="required">* Champs obligatoires</div>
      </div>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
